@import './variables';

html {
  font-size: $main-fs;
}
body {
  background: $main-bg;
  color: $main-color;
  color: var(--main-color);
  font-family: $main-ff;
  font-size: 1rem;
  font-weight: $main-fw;
  letter-spacing: 0.01em;
  line-height: $main-lh;
  margin: 0 !important;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

img {
  height: auto;
}

//Scroll
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(#000,.1);
}
::-webkit-scrollbar {
  background: transparent;
  position: absolute;
  width: 2px;
}
::-webkit-scrollbar:hover {
  display: block;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.54);
}
::-webkit-scrollbar:horizontal {
  height: 2px;
}
